.search_bar{
    margin-top: 30px;
}

.flag_medium{
   width: 100px;
   height: 70px; 
}

.title{
    text-align:center;
    color:blue;
}
.warning{
    text-align:center;
    color:yellow;
}